<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Welcome! The date and time is <%= now = Time.now %></p>

      <h1>Welcome to Bike Berlin</h1>
      <h2>Your source for used bikes in Berlin</h2>
    </div>

    <div class="col-md-6">
      <%= image_tag("my_calculator.png", class: "img-fluid") %>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @products.each do |product| %>
        <div class="carousel-item">
          <div class="carousel-item">
            <%= image_tag(product.image_url) %>
            <div class="carousel-caption d-none d-md-block">
              <h5><%= product.name %></h5>
              <p><%= product.description %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <%# test_variable = 42 %>
  <%#= test_variable %>
  <%#= now %>
</div>
